extends ../layout/common.pug
block vars
    - var title="Welcome to Noat portfolio - Project page"

//- stylesheets
block link
    //- main file
    link(rel="stylesheet" href="./../../styles/sass/project.scss")

block container            
    //- put content here
    .project-container
        .project
            h2.project-title
                | HTX 4.0
            p.project-time
                | 11/2019 - current
            //- video.project-video(controls)
            //-     source(
            //-         type="video/mp4"
            //-         src="https://res.cloudinary.com/dwvysf04x/video/upload/v1575436626/CV/coders.tokyo.quiz.app.showcase_kp7lze.mp4")
            img.project-img-100(src="../../assets/image/undraw_photo_maintain_4yb9.svg")
            p.project-info
                | Goal:
            p.project-detail
                | Develop a system for agricultural production process managing and diary logging.
            p.project-info
                | Missions:
            ul.project-detail-list
                li
                    a.project-detail
                        | Analyse the requirements.
                li
                    a.project-detail
                        | Analyse and design ERD, UML, Database.
                li
                    a.project-detail
                        | Design web template using Figma and Bootstrap studio.
                li
                    a.project-detail
                        | Develop Frontend (web) service using ReactJs.
                li
                    a.project-detail
                        | Develop Backend APIs for mobile and web service.
            p.project-info
                | Technologies:
            p.project-detail
                | NodeJS - ExpressJs, ReactJs, Bootstrap4, MongoDb.

        .project
            h2.project-title
                | Live streaming video
            p.project-time
                | 08/2019 - 09/2019
            //- video.project-video(controls)
            //-     source(
            //-         type="video/mp4"
            //-         src="https://res.cloudinary.com/dwvysf04x/video/upload/v1575436626/CV/coders.tokyo.quiz.app.showcase_kp7lze.mp4")
            img.project-img-100(src="../../assets/image/undraw_photo_maintain_4yb9.svg")
            p.project-info
                | Goal:
            p.project-detail
                | Develop video live-streaming web application to live-streaming the sport videos.
            p.project-info
                | Missions:
            ul.project-detail-list
                li
                    a.project-detail
                        | Design web template to meet user's requirements using Figma.
                li
                    a.project-detail
                        | Convert designed template to HTML by using Pug view engine and styling with SASS, CSS.
            p.project-info
                | Technologies:
            p.project-detail
                | NodeJs - ExpressJs, Bootstrap4, MongoDb, Pug, Nginx, SASS, Parcel.

        .project
            h2.project-title
                | Fitness tracker
            p.project-time
                | 09/2019 - 11/2019
            video.project-video(controls)
                source(
                    type="video/mp4"
                    src="https://res.cloudinary.com/dwvysf04x/video/upload/v1575508190/CV/home-page_juqm9t.mp4")
            video.project-video(controls)
                source(
                    type="video/mp4"
                    src="https://res.cloudinary.com/dwvysf04x/video/upload/v1575508241/CV/ble-connection_yum8a5.mp4")
            video.project-video(controls)
                source(
                    type="video/mp4"
                    src="https://res.cloudinary.com/dwvysf04x/video/upload/v1575508195/CV/guideline-page_uqhiws.mp4")
            video.project-video(controls)
                source(
                    type="video/mp4"
                    src="https://res.cloudinary.com/dwvysf04x/video/upload/v1575508192/CV/news-health-posts-page_k97vf5.mp4")
            img.project-img-50(src="https://res.cloudinary.com/dwvysf04x/image/upload/v1575508270/CV/sms-sending_obfvn9.jpg")
            p.project-info
                | Goal:
            p.project-detail
                | Develop IOT healthcare system to monitor users using Mi Band 2.
            p.project-info
                | Missions:
            ul.project-detail-list
                li
                    a.project-detail
                        | Make UI for: Home page, Guideline page, News paper page.
                li
                    a.project-detail
                        | Develop Python program to connect with Mi Band 2.
                li
                    a.project-detail
                        | Analyse and develop APIs to interact with data from Python program.
                li
                    a.project-detail
                        | Develop realtime service using Socket.io to send data to browser repeatedly and immediately.
                li
                    a.project-detail
                        | Crawl data to develop function: Read new healthy papers daily.
            p.project-info
                | Technologies:
            p.project-detail
                | Python, NodeJs - ExpressJs, Socket.io, Bootstrap4, MongoDb, Puppeteer, Redis.

        .project
            h2.project-title
                | X - CMS
            p.project-time
                | 06/2019 - 07/2019
            video.project-video(controls)
                source(
                    type="video/mp4"
                    src="https://res.cloudinary.com/dwvysf04x/video/upload/v1575436637/CV/CodersX-ContentManagementSystem_i3dxf5.mp4")
            p.project-info
                | Goal:
            p.project-detail
                | Develop a system to manage CodersX's Facebook fanpage.
            p.project-info
                | Missions:
            ul.project-detail-list
                li
                    a.project-detail
                        | Develop function to download image from DOM structure (HTML).
                li
                    a.project-detail
                        | Interact with facebook GraphAPI and publishing local data to facebook page.
            p.project-info
                | Technologies:
            p.project-detail
                | NodeJs - ExpressJs, Bootstrap4, MongoDb, Graph API.
        
        .project
            h2.project-title
                | Coders.Tokyo Cantho quiz app
            p.project-time
                | 05/2019 - 06/2019
            video.project-video(controls)
                source(
                    type="video/mp4"
                    src="https://res.cloudinary.com/dwvysf04x/video/upload/v1575436626/CV/coders.tokyo.quiz.app.showcase_kp7lze.mp4")
            p.project-info
                | Goal:
            p.project-detail
                | Develop a web application to play quiz.
            p.project-info
                | Missions:
            ul.project-detail-list
                li
                    a.project-detail
                        | Develop quiz function.
                li
                    a.project-detail
                        | Crawl quiz data from others sites.
            p.project-info
                | Technologies:
            p.project-detail
                | NodeJs - ExpressJs, Bootstrap4, Ejs.
        